* {
    margin: 0;
    padding: 0;
  }

  body {
    background-color: rgb(3, 3, 45);
    color: white;
    font-family: 'Poppins', sans-serif;
  }

  nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90px;
    background-color: rgb(79, 5, 170);

  }
  nav ul{
    display: flex;
    justify-content:center ;
  }
  nav ul li{
    list-style: none;
    margin: 0 23px;
  }
  nav ul li a{
    text-decoration: none;
    color: white;
    

  }
  nav ul li a:hover{
   color: rgb(157, 85, 245);
   font-size: 1.02rem;

  }

  main hr{
    border: 0;
    background: #9c97f1;
    height: 1.2px;
    margin: 90px 84px;
}

footer{
    background-color: black;
    height: 90px;
}

.footer{
    display: flex;
    
    
}

.footer-first{
    align-items: center;
    margin: auto;
    font-size: 20px;
    padding: 30px;
}

  .left{
    font-size: 2rem;
  }
  .firstSection{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 35px 0;
  }
  .firstSection > div{
    width: 30%;
  }
  .leftSection{
    
    font-size: 2rem;
    
    
  }
  .rightSection img{
    width: 100%;
    margin: 50px 0;
    
  }
  .purple{
    color: rgb(92, 14, 170);
  }
  .text-gray{
    color: grey;
  }

  #element{
    color: rgb(92, 14, 170);
  }

  .secondSection{
    max-width: 80vw ;
    margin: auto;
    height: 80vh;
  }

  .secondSection h1{
    font-size: 1.5rem;
  }
  .secondSection .box{
    background: white;
    width: 80vw;
    height: 2px;
    margin: 56px 0;
    display: flex;
    
  }

  .secondSection .vertical{
    height: 93px;
    width: 1px;
    background-color: white;
    margin: 0 170px;
  }

  

  .vertical-title{

    position: relative;
    top: 100px;
    width: 250px;
  }

  .vertical-desc{
    position: relative;
    top: 125px;
    width : 250px;
    color: grey;
    font-size: 15px;

  }