* {
    margin: 0;
    padding: 0;
  }

  body {
    background-color: black;
    color: white;
    font-family: 'Poppins', sans-serif;
  }

  h1{
    text-align: center;
    padding-bottom: 30px;
  }

  nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90px;
    background-color: #1A4D2E;

  }
  nav ul{
    display: flex;
    justify-content:center ;
  }
  nav ul li{
    list-style: none;
    margin: 0 23px;
  }
  nav ul li a{
    text-decoration: none;
    color: white;
    

  }
  

 

footer{
    background-color: #1A4D2E;
    
    
}



.footer-first{
    
    
    font-size: 20px;
    padding: 30px;
    
}

.footer-second{
  text-align: center;
  padding-bottom: 10px;
  font-size: 20px;
  
}


  .left{
    
    font-size: 2rem;

  }
  .firstSection{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 35px 0;
  }
  .firstSection > div{
    width: 30%;
  }
  .leftSection{
    
    font-size: 2rem;
    
    
  }
  .rightSection img{
    width: 100%;
    margin: 50px 0;
    border-radius: 2rem;
    
  }
  .purple{
    color: #247745;
  }
  .text-gray{
    color: grey;
  }

  #element{
    color: #247745;
  }

  .secondSection{
    max-width: 80vw ;
    margin: auto;
    height: 80vh;
    padding-top: 30px;
    padding-bottom: 100px;
    
  }

  .secondSection h1{
    font-size: 1.5rem;
    padding-top: 93px;
  }
  .secondSection .box{
    background: white;
    width: 80vw;
    height: 2px;
    margin: 56px 0;
    display: flex;
    
  }

  .secondSection .vertical{
    height: 93px;
    width: 1px;
    background-color: white;
    margin: 0 170px;
  }

  

  .vertical-title{

    position: relative;
    top: 100px;
    width: 250px;
    left: -100px;
  }

  .vertical-desc{
    position: relative;
    top: 125px;
    width : 250px;
    color: grey;
    font-size: 15px;
    left: -120px;
    text-align: center;

  }

  

  

  .median{
    background-color: #093a1d;
  }

  .median .about{
    text-align: center;
    
    font-size: 1rem;
  }

  .median .about h1{
    padding: 30px;
  }

  .median .secabout{
    margin: 0px 12% 0px 12%;
    padding-bottom: 48px;
    
    text-align: center;
  }

  h1{
    text-align: center;
    padding-bottom: 30px;
  }

  .thirdSection h3{
    text-align: center;
    color: #247745;
  }

  
  
  

  .cards{
    width: 10%;
    height: 10%;
    background-color: #093a1d;
    border-radius: 5px;

    margin: 40px;
    box-shadow: 2px 2px 10px rgb(3, 69, 3);
    display: inline-block;

  }

  .image{
    padding: 10px 10px 10px 10px;
  }
  .image img{
    
    width: 100%;
    
  }

  h2{
    text-align: center;
    color: #247745;
    padding-bottom: 10px;
  }

  .fourthSection h1{
    padding: 5%;
  }

  .fourthSection{
    background-color: #093a1d;
  }



  .cards4{
    background-color: black;
    width: 20%;
    height: 20%;
    border-radius: 5px;

    margin-left:150px;
    margin-right: 150px;
    margin-bottom: 60px;
    
    padding: 2.5%;
    
    display: inline-block;
  }

  

  .cards4:hover{
    box-shadow: 2px 2px 10px rgb(234, 238, 234);
  }

  

  .title{
    text-align: center;
    padding: 10px;
  }

  .description{
    text-align: center;
  }

  span{
    color: grey;
  }

  .link{
    text-decoration: none;
    color: #247745;
    font-size: medium;
    
  }

  .fifthSection{
    padding: 5%;
  }

  .cards2{
    width: 10%;
    height: 10%;
    background-color: black;
    border-radius: 5px;

    margin: 40px;
    padding-left: 2%;
    
    display: inline-block;

  }

  .image2{
    padding: 10px 10px 10px 10px;
  }

  .image2 img{
    
    width: 60%;
    
  }
.class{
  text-align: center;
}


  

  

  

  

  

  